<!--<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Login</h1>
      <p>Accounts are reset on server restart from <code>server/config/seed.js</code>. Default account is <code>test@test.com</code> / <code>test</code></p>
      <p>Admin account is <code>admin@admin.com</code> / <code>admin</code></p>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="login(form)" novalidate>

        <div class="form-group">
          <label>Email</label>

          <input type="text" name="email" class="form-control" ng-model="user.email" required>
        </div>

        <div class="form-group">
          <label>Password</label>

          <input type="password" name="password" class="form-control" ng-model="user.password" required>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
             Please enter your email and password.
          </p>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
             Please enter a valid email.
          </p>

          <p class="help-block">{{ errors.other }}</p>
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-login" type="submit">
            Login
          </button>
          <a class="btn btn-default btn-lg btn-register" href="/signup">
            Register
          </a>
        </div>

      </form>
    </div>
  </div>
  <hr>
</div> -->
<!--<div class="text-center col-lg-12">
  <p>Accounts are reset on server restart from <code>server/config/seed.js</code>. Default account is <code>test@test.com</code> / <code>test</code></p>
  <p>Admin account is <code>admin@admin.com</code> / <code>admin</code></p>
</div>-->
<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>All in a cup</b></a>
  </div><!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>



    <form role="form" class="form" name="form" ng-submit="login(form)" novalidate>
      <div class="alert alert-danger"
           ng-if="(form.email.$error.required && form.password.$error.required && submitted.get) ||
           (form.email.$error.email && submitted.get) || (errors.other)">
        <ul>
          <li ng-if="form.email.$error.required && form.password.$error.required && submitted.get">
            Please enter your username and password.</li>
         <!-- <li ng-if="form.email.$error.email && submitted.get">
            Please enter a valid email.
          </li>-->
          <li ng-if="errors.other">{{ errors.other }}</li>
        </ul>
      </div>
      <div class="form-group has-feedback">
        <input type="test" class="form-control" name="email" ng-model="user.email" placeholder="Email" required>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" name="password" ng-model="user.password" placeholder="Password" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label style="padding-left: 0px;">
              <input type="checkbox"> Remember Me
            </label>
          </div>
        </div><!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div><!-- /.col -->
      </div>
    </form>

    <a href="#">I forgot my password</a><br>

  </div><!-- /.login-box-body -->
</div><!-- /.login-box -->
<!-- iCheck -->

<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>
