

<!--<header class="hero-unit" id="banner">

    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
</header>


  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>


  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.1.0 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>-->

<!--<div class="container-fluid box box-primary">
  <div class="box-body">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Features:</h1>
          <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
            <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
          </ul>
        </div>


      <form class="thing-form">
        <label>Syncs in realtime across clients</label>
        <p class="input-group">
          <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
          </span>
        </p>
      </form>
    </div>
  </div>
</div>  -->
<div class="container-fluid box box-primary">
  <div class="box-body">
      <div class="row">
        <div class="col-lg-12">
          </br>
          </br>
          </br>
          </br>
          </br>
          <h1 class="text-center">Welcome</h1>
          </br>
          </br>
          </br>
          </br>
          </br>

        <!-- <div class="col-md-offset-3 col-md-6">
           &lt;!&ndash; Construct the box with style you want. Here we are using box-danger &ndash;&gt;
           &lt;!&ndash; Then add the class direct-chat and choose the direct-chat-* contexual class &ndash;&gt;
           &lt;!&ndash; The contextual class should match the box, so we are using direct-chat-danger &ndash;&gt;
           <div class="box box-danger direct-chat direct-chat-danger">
             <div class="box-header with-border">
               <h3 class="box-title">Direct Chat</h3>
               <div class="box-tools pull-right">
                 <span data-toggle="tooltip" title="3 New Messages" class="badge bg-red">3</span>
                 <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                 &lt;!&ndash; In box-tools add this button if you intend to use the contacts pane &ndash;&gt;
                 <button class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle"><i class="fa fa-comments"></i></button>
                 <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
               </div>
             </div>&lt;!&ndash; /.box-header &ndash;&gt;
             <div class="box-body">

               &lt;!&ndash; Conversations are loaded here &ndash;&gt;
               <div class="direct-chat-messages">

                 &lt;!&ndash; Message. Default to the left &ndash;&gt;
                 <div class="direct-chat-msg">
                   <div class="direct-chat-info clearfix">
                     <span class="direct-chat-name pull-left">Alexander Pierce</span>
                     <span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span>
                   </div>&lt;!&ndash; /.direct-chat-info &ndash;&gt;
                   <img class="direct-chat-img" src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/11088534_10205929913717657_2544434801049766945_n.jpg?oh=03c666c904faf26d13900311a559e915&oe=56C8567A&__gda__=1455724183_feb446584ce477646424234da74ea032" alt="message user image">&lt;!&ndash; /.direct-chat-img &ndash;&gt;
                   <div class="direct-chat-text">
                     Is this template really for free? That's unbelievable!
                   </div>&lt;!&ndash; /.direct-chat-text &ndash;&gt;
                 </div>&lt;!&ndash; /.direct-chat-msg &ndash;&gt;

                 &lt;!&ndash; Message to the right &ndash;&gt;
                 <div class="direct-chat-msg right">
                   <div class="direct-chat-info clearfix">
                     <span class="direct-chat-name pull-right">Sarah Bullock</span>
                     <span class="direct-chat-timestamp pull-left">23 Jan 2:05 pm</span>
                   </div>&lt;!&ndash; /.direct-chat-info &ndash;&gt;
                   <img class="direct-chat-img" src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/11088534_10205929913717657_2544434801049766945_n.jpg?oh=03c666c904faf26d13900311a559e915&oe=56C8567A&__gda__=1455724183_feb446584ce477646424234da74ea032" alt="message user image">&lt;!&ndash; /.direct-chat-img &ndash;&gt;
                   <div class="direct-chat-text">
                     You better believe it!
                   </div>&lt;!&ndash; /.direct-chat-text &ndash;&gt;
                 </div>&lt;!&ndash; /.direct-chat-msg &ndash;&gt;

               </div>&lt;!&ndash;/.direct-chat-messages&ndash;&gt;

               &lt;!&ndash; Contacts are loaded here &ndash;&gt;
               <div class="direct-chat-contacts">
                 <ul class="contacts-list">
                   <li>
                     <a href="#">
                       <img class="contacts-list-img" src="../dist/img/user1-128x128.jpg" alt="Contact Avatar">
                       <div class="contacts-list-info">
              <span class="contacts-list-name">
                Count Dracula
                <small class="contacts-list-date pull-right">2/28/2015</small>
              </span>
                         <span class="contacts-list-msg">How have you been? I was...</span>
                       </div>&lt;!&ndash; /.contacts-list-info &ndash;&gt;
                     </a>
                   </li>&lt;!&ndash; End Contact Item &ndash;&gt;
                 </ul>&lt;!&ndash; /.contatcts-list &ndash;&gt;
               </div>&lt;!&ndash; /.direct-chat-pane &ndash;&gt;
             </div>&lt;!&ndash; /.box-body &ndash;&gt;
             <div class="box-footer">
               <div class="input-group">
                 <input type="text" ng-model="message" name="message" placeholder="Type Message ..." class="form-control">
      <span class="input-group-btn">
        <button type="button" ng-click="sendMessage()" class="btn btn-danger btn-flat">Send</button>
      </span>
               </div>
             </div>&lt;!&ndash; /.box-footer&ndash;&gt;
           </div>&lt;!&ndash;/.direct-chat &ndash;&gt;
         </div>-->

        </div>
    </div>
  </div>
</div>
<!--<button ng-click="kickUser()" class="btn btn-primary">Kick someone</button>-->
