 <!-- Left side column. contains the logo and sidebar -->

        <aside class="main-sidebar" ng-controller="SideBarCtrl">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

          <!-- Sidebar Menu -->
          <ul class="sidebar-menu">
            <li class="header"><MENU></MENU></li>
            <!-- Optionally, you can add icons to the links -->
            <li ng-if="isAdmin" ng-class="{active:$parent.actives[0]}"><a href="users"><i class="fa fa-link"></i> <span>Users</span></a></li>
            <li ng-class="{active:$parent.actives[1]}"><a href="products"><i class="fa fa-link"></i> <span>Products</span></a></li>
            <li ng-class="{active:$parent.actives[2]}"><a href="clients-request"><i class="fa fa-link"></i> <span>Clients request</span></a></li>
            <!--<li class="treeview">
              <a href="#"><i class="fa fa-link"></i> <span>Multilevel</span> <i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li><a href="#">Link in level 2</a></li>
                <li><a href="#">Link in level 2</a></li>
              </ul>
            </li>-->
          </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      </aside>

